# Go
.air_tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/server

# Frontend
node_modules/
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local

# DB
*.db
